body {
  font-family: 'Roboto', sans-serif;
}
.sitemast-row {
  padding: 2rem 0rem 2rem 0rem;
}

.sitemast-row h1 {
  font-size: 3.0rem;
}

.me-img {
  overflow: hidden;
  border-radius: 50%;
  min-height: 220px;
  min-width: 220px;
}

.bio-row {
  padding: 1rem 0rem 0rem 0rem;
}

.bio-text {
  font-size: 1.0rem;
}

@media (min-width: 768px) {
  .bio-text {
    font-size: 1.3rem;
  }

  .sitemast-row h1 {
    font-size: 3.5rem;
  }
}

@media (min-width: 992px) {
  .bio-text {
    font-size: 1.5rem;
  }

  .sitemast-row h1 {
    font-size: 4.0rem;
  }
 }
